.productContainer{
    display: flex;
    flex-wrap: wrap;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin: 5px;
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.07);
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

.block a{
    text-decoration: none;
    color: black;
}
.seller{
    margin:3px;
    color: black;
    text-decoration: none;
}
.seller:hover{
    text-decoration: underline;
}

.noBorderBottomRadius{
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.block h3, .block p{
    margin: 3px 0px;
}

.block img{
    max-width: 150px;
    max-height: 180px;
}

.descButton{
    border: 1px solid black;
    border-radius: 5px;
}

.descButton:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.productButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.deleteProductButton{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
}
.deleteProductButton:hover{
    cursor: pointer;
}

.desc{
    width: 150px;
    font-size: 1rem;
    margin: auto;
    margin-top: -5px;
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wishlistButton{
    background-image: url(../assets/emptyheart.png);
    height:20px;
    width:20px;
}

.wishlistButton:hover{
    background-image: url(../assets/heart.png);
    cursor: pointer;
}

.wishlistRemoveButton{
    background-image: url(../assets/heart.png);
    height:20px;
    width:20px;
}

.wishlistRemoveButton:hover{
    background-image: url(../assets/brokenheart.png);
    cursor: pointer;
}
.addCart{
    background-color: rgb(0, 132, 255);
    border-radius: 5px;
    color:white;
    padding:2px;
    border: 1px solid black;
}

.addCart:hover{
    cursor:pointer;
    background-color: rgba(0, 132, 255, 0.514);
}

.redHeart{
    background-image: url(../assets/heart.png);
    height:20px;
    width:20px;
}

.nonDisponibile{
    background-color: rgba(255, 0, 0, 0.2);
}

.inArrivo{
    background-color: rgba(255, 208, 0, 0.349)
}


.increment{
    background-color: rgba(0, 132, 255, 0.425);;
    width: 40px;
    font-size: 1.2rem;
    line-height: 15px;
    border-radius: 10px;
}

.increment:hover{
    cursor:pointer;
    background-color: rgba(0, 132, 255, 0.699);;
}

.decrement{
    background-color: rgba(255, 0, 0, 0.425);
    width: 40px;
    font-size: 1.2rem;
    line-height: 15px;
    border-radius: 10px;
}

.decrement:hover{
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.699);
}

.productButtonsContainer .modifyButton{
    max-width: 20px;
}
.modifyButton:hover{
    cursor: pointer;
}
@media(max-width: 800px){
    .block{
        font-size: 0.8rem;
        padding: 0px 5px;
        margin: 2px;
        width:120px;
    }

    .block img{
        max-width: 100px;
        max-height: 120px;
    }

    .block h3, .block p{
        width:120px;
    }

    .desc{
        font-size:0.8rem;
        width: 120px;
        margin-top: -2px;
        padding: 2px 5px;
    }
    .increment{
        width:33px;
    }
    .decrement{
        width:33px;
    }
}

@media(max-width: 600px){
    .block{
        font-size: 0.7rem;
        width:90px;
    }

    .addCart{
        font-size:0.62rem;
    }

    .block img{
        max-width: 75px;
        max-height: 95px;
    }

    .block h3, .block p{
        width:90px;
    }

    .desc{
        font-size: 0.7rem;
        width: 90px;
    }
    .increment{
        width:27px;
    }
    .decrement{
        width:27px;
    }
}

.hidden{
    display: none;
}