#mainSection{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea{
    font-size:1rem;
    resize: none;
    height: 5em; /*em è relativo al font size, se metto width 51em vuol dire che è larga 51 caratteri*/
    width: 20em;
}
.error{
    color:red;
    font-size: 1rem;
}
form[name="newProduct"] input[type="submit"]{
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
}
#errorsPhp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
    margin: 5px;
}

.child section{
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:5px 0px;
}

.layoutID{
    margin: 5px;
    font-size: 1rem;
}

.layoutID:hover{
    cursor: pointer;
    text-decoration: underline;
}
.modalDelete{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
}
.modalDelete div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.modalDelete span:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media(max-width:500px){
    section{
        padding: 0px 25px;
    }
}