#mainSection{
    padding: 0px 50px;
}

#mainSection .productContainer{
    justify-content: center;
}
.childBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontalBlock{
    display: flex;
    align-items: flex-start;
    font-size: 15px;
}

.sideDesc{
    border-left: 3px solid rgb(100, 100, 100);
    text-align: start;
    width: 200px;
    height: 100%;
    padding-left: 8px;
    margin-left: 5px;
}
#title{
    text-align: center;
    font-size: 35px;
    font-weight:700;
}
textarea {
    font-size:1rem;
    resize: none;
    height: 5em; /*em è relativo al font size, se metto width 51em vuol dire che è larga 51 caratteri*/
    width: 51em;
}
.error{
    color:red;
}
@media(max-width:800px){
    .sideDesc{
        font-size: 12px;
        width: 170px;
    }
}
@media(max-width:520px){
    textarea{
        font-size: 10px;
        height: 9em;
        width: 100%;
    }
    #title{
        font-size:25px;
    }
}
@media(max-width:400px){
    .schedaLaterale{
        width: 140px;
    }
}





